<form method="GET" action="/">
  <input type="submit" value="Scry"/>
</form>

<%= @errors %>

<form id="login_form" method="POST" action="/sessions">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Login">
</form>
