<div><%= erb :"_errors" %></div>
<form id="login-form" class="inline-form" method="POST" action="/sessions">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input class="myButton" type="submit" value="Login">
</form>
<form class="inline-form" method="GET" action="/">
  <input id="home-button" class="myButton" type="submit" value="Home"/>
</form>
