<form method="GET" action="/">
  <input type="submit" value="Scry"/>
</form>

<form id="register_form" method="POST" action="/users">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirm Password">
  <input type="submit" value="Create Account">
</form>
