<% if logged_in? %>
  <p>Hello, <%= @current_user.username %>!</p>
  <p>You have scried <%= @current_user.score %> cards.</p>

  <form method="GET" action="/">
    <input type="submit" value="Scry"/>
  </form>

  <form method="GET" action="/users">
    <input type="submit" value="Go To Leaderboard"/>
  </form>

  <h1>Favorite Cards</h1>
  <ul>
    <% @current_user.favorites.each do |favorite| %>
      <li><img id="card_image" src="<%= display_image(favorite.id) %>" /></li>
    <% end %>
  </ul>
<% end %>