<% if logged_in? %>

<!-- nagivation -->
<div id="navigation">
  <form class="inline-form" method="GET" action="/">
    <input id="home-button" class="myButton" type="submit" value="Home"/>
  </form>
  <form class="inline-form" method="GET" action="/users">
    <input id="username-button" class="myButton" type="submit" value="Leaderboard"/>
  </form>
  <form class="inline-form" method="POST" action="/">
    <input id="logout-button" class="myButton" type="submit" value="Log Out" />
  </form>
</div>

<!-- text box -->
<div class="text-background">
<h1>Favorite Cards</h1>
<p>Hello, <%= @current_user.username %>! You have scried <%= @current_user.score %> cards.</p>
</div>

<!-- card display -->
<ul>
  <% @current_user.favorites.each do |favorite| %>
  <li class="inline-list-item"><img id="card_image" src="<%= display_image(favorite.id) %>" /></li>
  <% end %>
</ul>

<% end %>