<!-- header div with navigation links -->
<div id="navigation">
  <% if logged_in? %>
  <form class="inline-form" method="GET" action="/users">
    <input id="leaderboard-button" class="myButton" type="submit" value="Leaderboard"/>
  </form>
  <form class="inline-form" method="GET" action="/users/<%= current_user.id %>">
    <input id="username-button" class="myButton" type="submit" value="Favorites"/>
  </form>
  <form class="inline-form" method="POST" action="/">
    <input id="logout-button" class="myButton" type="submit" value="Log Out" />
  </form>
  <% else %>
    <form class="inline-form" id="register-button" method="GET" action="/users/new">
      <input class="myButton" type="submit" value="Register"/>
    </form>
    <form class="inline-form" id="login-button" method="GET" action="/sessions/new">
      <input class="myButton" type="submit" value="Login"/>
    </form>
  <% end %>
</div>

<!-- card image div -->
<div id="image-container">
  <%= erb :'_image_partial' %>
</div>

<!-- footer div -->
<div id="footer">
  <form class="inline-form" method="GET" action="/">
    <input id="scry-button" class="myButton" type="submit" value="Scry" />
  </form>
  <% if logged_in? %>
  <form class="inline-form" method="POST" action="/users/<%= current_user.id %>/favorites">
    <input id="favorite-button" class="myButton" type="submit"/ value="&#9733;">
  </form>
  <% end %>
</div>