<div class="container">

  <form method="GET" action="users/new">
    <input id="register_button" type="submit" value="Register"></button>
  </form>

  <form method="GET" action="sessions/new">
    <input id="login_button" type="submit" value="Login"></button>
  </form>

  <div id="image_div">
    <%= erb :'_image_partial' %>
  </div>

  <form method="GET" action="/">
    <input id="scry" type="submit" value="Scry" />
  </form>
</div>
